body {
  margin: 0;
  background: pink;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.box {
  background: rgba(255,255,255,0.3);
  padding: 20px;
  width: 320px;
  text-align: center;
  border-radius: 20px;
}

h3 { color: #b30059; }
h1 { color: #800040; }

img {
  width: 150px;
  margin: 10px 0;
}

button {
  width: 120px;
  padding: 12px;
  font-size: 18px;
  margin: 8px;
  border: none;
  cursor: pointer;
}

.yes {
  background: red;
  color: white;
}

.no {
  background: white;
  border: 2px solid red;
}
