body {
  margin: 0;
  height: 100vh;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  width: 90%;
  max-width: 350px;
  padding: 25px;
  text-align: center;
  border-radius: 20px;
}

h2 {
  color: #b30059;
  margin-bottom: 5px;
}

h1 {
  color: #800040;
  margin-top: 0;
}

#question {
  font-size: 16px;
  margin: 15px 0;
}

#gif {
  width: 150px;
  margin: 10px 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

#yesBtn {
  background: red;
  color: white;
}

#noBtn {
  background: white;
  color: black;
  border: 2px solid red;
}

.back-btn {
  margin-top: 20px;
  background: black;
  color: white;
  padding: 10px 20px;
}
